/* Scroll-to-top button styles */
.scroll-to-top {
    position: fixed;
    bottom: 30px; /* Distance from the bottom of the screen */
    right: 30px; /* Distance from the right side of the screen */
    z-index: 99999; /* Ensure it's above other content */
  }
  
    .scroll-button {
      background-color: chocolate;
      color: white;
      padding: 10px;
      border-radius: 50%;
      cursor: pointer;
      opacity: 0.8;
      transition:  transform 0.3s ease-in-out;
      border-radius: none;
      border: none;
      width: auto;
      height: auto;
    }
    
    .scroll-button:hover {
      opacity: 1;
      background-color: chocolate;
      border: none; }
    
    .scroll-icon {
      font-size: 24px; /* Adjust the size of the arrow icon */
    }
    
    /* Hide the button initially */
    .scroll-to-top .scroll-button{
      display: none;
    }
    
    .scroll-to-top .scroll-button {
      display: block;
    }
    